input{
  display: block;
  width: 50%;
  margin: 0 auto;
  background-color: #F9F0EA;
  border: 2px solid #111;
  padding: 15px;
  font-size: 18px;
}

// .form-group{
//   position: relative;
// }
// label{
//   position: absolute;
// }
